<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISalaSoapService" />
                <binding name="BasicHttpBinding_IReservaSoapService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:23086/soap/salas" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISalaSoapService" contract="SoapSalasReference.ISalaSoapService"
                name="BasicHttpBinding_ISalaSoapService" />
            <endpoint address="http://localhost:23086/soap/reservas" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReservaSoapService"
                contract="SoapReservasReference.IReservaSoapService" name="BasicHttpBinding_IReservaSoapService" />
        </client>
    </system.serviceModel>
</configuration>